
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    text-transform: capitalize;
}
header {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.062rem;
}

#header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

#header nav ul:first-of-type {
    display: flex;
    margin-left: 8.875rem;
}

header li {
    list-style: none;    
}

#header li a {
    display: block;
    text-align: center;
    color: #9f9f9f;
    text-decoration: none;
    padding: 1.25rem;
}

header li #article {
    color: black;   
}

header div ul {
    display: flex;
}

header #reseaux img:first-of-type {
    width: 10px;
    height: 20px;
}

header #reseaux img:last-of-type {
    width: 25px;
    height: 20px;
}

header .image {
    width: 100%;
}

main {
    display: flex;
    flex-direction: row-reverse;
}

main aside {
    background-color: #FBFBFB;
    width: 20%;
}

main aside h2 {
    font-family: "Montserrat",sans-serif;
    font-size: 1.875rem;
    color: black;
    margin: 2.688rem;
}

main aside li{
    color: #9f9f9f;
    font-family: "Montserrat",sans-serif;
    font-size: 1.063rem;
    margin: 1.063rem;
}

main #aside_2 h2 {
    width: 70%;
    padding-top: 2.625rem;
    padding-bottom: 2.625rem;
    border-top: #9f9f9f solid 2px;
}

main article {
    display: flex;
    align-items: center;
}

main .article {
    flex-direction: column;
    margin: 4rem;
    padding-right: 20rem;
    padding-left: 1.563rem;
    max-width: 1040px;
}

main article img {
    margin-left: 16.25rem;
    max-width: 360px;
    height: 200px;   
}

main article time {
    color: #9f9f9f;
    font-family: "Montserrat",sans-serif;
    font-size: 1.063rem;
}

main article h1 {
    font-family: "Cardo", sans-serif;
    font-size: 2.25rem;
}

main .article p {
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

@media screen and (min-width: 320px) and (max-width:768px) {

    header img {
        max-width: 768px;
        width: 100%;
    }

    main  {
        max-width: 768px ;
        flex-direction: column-reverse;
    }

    main article img {
        margin-left: 3rem;
        object-fit: cover;
    }

    main .article {
        padding-right: 0;
        margin: 2rem;
    }

    main aside {
        display: flex;
        align-items: center;
        margin-left: 5rem;
        color: #9f9f9f;
    }

  
    main #aside_2 h2 {
        border-top: none;
        margin: 1rem;
    }
    
    main #aside_2 {
        border-left: solid 2px #9f9f9f;
        padding-left: 3rem;
        height: 50%;
    }
    
}

@media screen and (max-width:320px) {

    header .image {
        width: 320px;
        object-fit: cover;
    }

    #header {
       flex-direction: column; 
    }

    main {
        max-width: 320px;
    }

    main aside {
        display: flex;
        align-items: flex-end;
        background-color: #FBFBFB;;
        color: #9f9f9f;
        flex-direction: column-reverse;
    }

    main #aside_2 h2 {
        border-top: none;
    }

    main article {
        margin: 0;
        flex-direction: column;
    }
}